html {
		zoom: 90%;
}

body {
	font-family:Calibri;
	background:url('../images/infra.jpg');
	background-size: cover;
}

.calculator-form-container {
	border: 4px solid #333;
	border-radius: 10px !important;
}

.header-nav-title {
	text-shadow: 2px 1px #333;
}

.calculator-card-heading {
	background-color: #333;
}

#footer {
	background-color: #333;
	position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    overflow: hidden;
	text-align:center;
}

#footer > span {
	color: #fff;
	font-weight: bold;
	font-size: 14px;
}

#cost-table {
}